/* courtesy of http://work.smarchal.com/twbscolor/css/1296a70a6f7cf6f6f6dbdbdb0 
 *    with some Mahmoud magic! 
 */
.navbar-default {
  background-color: #1296a7;
  border-color: #0a6f7c;
  background-image: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #f6f6f6;
  font-size: 25px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dbdbdb;
}
.navbar-default .navbar-text {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dbdbdb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dbdbdb;
  background-color: #0a6f7c;
  background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dbdbdb;
  background-color: #0a6f7c;
  background-image: none;
}
.navbar-default .navbar-toggle {
  border-color: #0a6f7c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0a6f7c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6f6f6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6f6f6;
}
.navbar-default .navbar-link {
  color: #f6f6f6;
}
.navbar-default .navbar-link:hover {
  color: #dbdbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6f6f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dbdbdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dbdbdb;
    background-color: #0a6f7c;
  }
}

/* Override more default styling */
