body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #E5E5E5;*/
    background-color: #F0F0F0;
    /*color: #333333;*/
    color: #333333;
}

hr {
    width: 50vw;
    height: 0.5vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #FF1744;

}
